{
    "extends": "stylelint-config-standard",
    "rules": {
        "at-rule-empty-line-before": null,
        "at-rule-no-unknown": [true, {
            "ignoreAtRules": ["each", "else", "extend", "function", "include", "if", "mixin", "return"]
        }],
        "custom-property-empty-line-before": null,
        "declaration-empty-line-before": null,
        "no-descending-specificity": null,
        "rule-empty-line-before": null,
        "selector-pseudo-element-colon-notation": "single",
        "selector-pseudo-element-no-unknown": [true, {
            "ignorePseudoElements": ["ng-deep"]
        }],
        "selector-type-no-unknown": [true, {
            "ignoreTypes": ["/^app-/", "/^ion-/", "/^mat-/", "/^md-/", "/^ngx-/", "/^page-/"]
        }]
    }
}