<p>
    Félicitations 🎉, vous avez découvert la recherche avancée cachée !
</p>
<p style="color: #d20000;">
    Si vous n'avez pas volontairement activé cette recherche avancée et ne savez pas ce que vous faîtes, <strong>pas de panique</strong>, vous pouvez continuez à utiliser la recherche de façon normale et ignorer la documentation ci-dessous.<br />
    Vous pouvez également la désactiver en utilisant la même combinaison de touche que vous avez faites pour l'ouvrir.
</p>

<h4 class="mt-3">Définition de la recherche avancée</h4>
<p>
    Cette recherche permet ainsi de rechercher de façon extrêmement approfondie, moyennant toutefois une certaine connaissance du langage Javascript.
</p>
<p>
    La syntaxe de recherche avancée est similaire à celle-ci: <code>expr:(death !== null)</code>.
</p>
<p>
    Notez ici qu'en terme de variable, seule la variable <code>death</code> est disponible bien sûr avec les fonctions et opérateurs habituels du langage Javascript.
    Cette variable est un objet dont l'interface <code>Death</code> est <a href="https://github.com/Geolim4/In-Memoriam/blob/master/src/ts/models/Death/death.model.ts" target="_blank">disponible sur Github <i class="fa-solid fa-arrow-up-right-from-square"></i></a>.
</p>

<p>
    A noter qu'en l'absence de la balise <code>expr:(   )</code>, la recherche se comportera normalement sur la base de mots-clés pertinents.
</p>

<h4 class="mt-3">Mise en pratique de la recherche avancée</h4>
<p>
    Pour qu'un marqueur soit exclu de la recherche, l'expression contenue à l'intérieur de <code>expr:(   )</code> doit retourner <code>false</code>.<br />
    A l'inverse si le marqueur doit être conservé par la recherche, l'expression doit retourner <code>true</code>.<br />
    Vous pouvez tout à fait tester plusieurs expressions en les combinant avec les opérateurs logiques <code>&&</code> ou <code>||</code>. <br />
</p>

<p>
    Par exemple si vous souhaitez n'afficher que les marqueurs ayant AU moins 3 sources et impliquant PLUS D'UN décès, alors l'expression sera la suivante: <br />
    <code>expr:(death.sources.length >= 3 && death.count > 1)</code>
</p>

<p>
    Le code exécuté dans à l'intérieur de la balise <code>expr:(   )</code> est exécuté dans un environnement isolé (sandbox), il n'a donc pas accès à l'application et ne risque pas de perturber son bon fonctionnement.<br />
    En cas de syntaxe Javascript invalide ou d'absence de résultats suite à un filtrage trop restrictif, une modale d'information ou d'alerte s'ouvrira en conséquence.
</p>

<p class="mt-3">
    <em>✨ Bonne recherche avancée ! ✨</em>
</p>


