<p class="text-warning">
    L'application « In-Memoriam » <u>a besoin</u> de votre consentement de dépôt de cookies pour que la cartographie utilisant les services de « Google Maps » puisse fonctionner.
</p>

<p>
    Vous trouverez ci-dessous la liste exhaustive des cookies susceptibles d'être déposés sur votre navigateur:
</p>
<ul class="list-group">
    <li class="list-group-item"><code>userConfig</code>: Cookie permettant de stocker vos préférences particulières (le cas échéant).</li>
    <li class="list-group-item"><code>cookiebar</code>: Cookie permettant de stocker votre choix en matière de politique de dépôts de cookies.</li>
    <li class="list-group-item"><code>userSavedFilters</code>: Cookie permettant de stocker vos filtres mémorisés si vous avez activé la préférence en question.</li>
    <li class="list-group-item"><code>htmlColorSchemePreload</code>: Cookie d'optimisation d'affichage du thème de l'application si vous avez choisi une réglage de thème autre que "Automatique".</li>
    <li class="list-group-item"><code>newsfeed-<em style="color: #1c7430">*</em>-sent</code>: Cookies de marqueur de lecture pour l'affichage unique de notifications d'actualité.</li>
    <li class="list-group-item">Cookies tiers Google Maps gérés par Google.</li>
</ul>

<p class="mt-3">
    Enfin, vous pouvez consulter notre <strong>
        <a href="#fwd2:confidentiality-link">politique de confidentialité</a>
    </strong> ou nos <strong>
        <a href="#fwd2:legal-notice-link">mentions légales</a>
    </strong> pour en savoir plus.
</p>
