<div>
    <img src="{{ src }}" alt="{{ alt }}" class="mw-100 rounded border border-dark" />
</div>
{% if copyright %}
<div>
    <small class="text-warning">
        <i class="fa-solid fa-warning d-none d-sm-inline-block"></i>
        <em>Cette photo est sujette à des droits d'auteur et ne peut donc être réutilisée librement.</em>
    </small>
</div>
{% endif %}
