<div class="mt-3">
    <div>
        <div>
            <h3>Politique de cookies du site « In-Memoriam »</h3>
            <p>Seuls des cookies strictement nécessaires au bon fonctionnement du site sont déposés sur votre ordinateur, smartphone ou tablette (ci-après l'« Appareil ») lors de la visite du site web "In-Memoriam", ci-après « le Site ».</p>
        </div>
    </div>
    <div>
        <h3>1. Qu'est-ce qu'un cookie ?</h3>
        <p>Les cookies sont des petits fichiers textes déposés sur votre appareil dont le détail et les buts sont présentés ci-dessous. Les cookies sont gérés par votre navigateur internet, et seul l'émetteur d'un cookie est susceptible de lire ou de modifier les informations qui y sont contenues.</p>
    </div>
    <div>
        <h3>2. Quels types de cookies sont déposés et dans quels buts ?</h3>
    </div>
    <div>
        <h4>2.1 Les cookies éditeur</h4>
        <p>Ces cookies garantissent le fonctionnement du Site "In-Memoriam" et permettent son fonctionnement. Il s'agit des cookies exclusivement déposés par le site "In-Memoriam". Ils sont indispensables à la navigation sur notre Site. Ils vous permettent d'utiliser les principales fonctionnalités du Site et de sécuriser votre connexion, comme:</p>
        <ul>
            <li>mettre en œuvre des mesures de sécurité, par exemple lorsqu'il vous est demandé de vous connecter à nouveau à un contenu ou à un service après un certain temps;</li>
            <li>adapter la présentation de notre site aux préférences d'affichage de votre appareil (langue utilisée, résolution d'affichage, système d'exploitation utilisé, etc.) lors de vos visites sur notre Site, selon les matériels et les logiciels de visualisation ou de lecture que votre Appareil comporte;</li>
        </ul>
    </div>
    <div>
        <h4>2.2 Les cookies de publicité</h4>
        <p>Aucun cookie de publicité n'est déposé sur ce site.</p>
    </div>
    <div>
        <h4>2.3 Les cookies de mesure d'audience</h4>
        <p>Aucun cookie de mesure d'audience n'est déposé sur ce site.</p>
    </div>
    <div>
        <h4>2.4 Les cookies des réseaux sociaux</h4>
        <p>Aucun cookie de réséau social n'est déposé sur ce site.</p>
    </div>
    <div>
        <h3>3. DÉPÔT DE COOKIES PAR GOOGLE </h3>
        <p>
            Google Inc. est une entreprise Américaine qui propose à ses Clients de nombreux services.
            Les Données collectées par GOOGLE sont conservées pour une durée maximale de 365 jours, selon la finalité du traitement, conformément aux lois en vigueur et principe de minimisation.<br />
            En savoir plus : <a href="https://policies.google.com/privacy?hl=en-US">https://policies.google.com/privacy?hl=en-US</a>.<br />
            Vous pouvez désactiver les cookies de cet éditeur, toutefois la cartographie étant le cœur même de ce site, celle-ci ne pourra fonctionner sans l'accès au service Google MAPS de Google Inc.
        </p>
    </div>
    <div>
        <h3>4. Comment gérer vos cookies ?</h3>
        <p><a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/comment-se-proteger/maitriser-votre-navigateur" target="_blank">Le site de la CNIL</a> vous permet d'apprendre à maîtriser les cookies déposés sur votre navigateur.</p>
    </div>
    <div>
        <h3>5. CNIL</h3>
        <p>Consultez le site cnil.fr pour plus d'informations sur vos droits.<br /><br />Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.</p>
    </div>
</div>
