<h2>Editeur:</h2>

<h4>« L'équipe In-Memoriam »</h4>

<p>Directeur du projet: <a href="https://github.com/Geolim4" target="_blank">@Geolim4</a> (Github)</p>

<p>Contributeurs du projet: <a href="https://github.com/Geolim4/In-Memoriam/graphs/contributors" target="_blank">Contributeurs</a> (Github)</p>


<h2 class="mtop">Hébergement:</h2>

<p><a href="https://pages.github.com/" target="_blank">Github Pages</a></p>
<p>Github, 88 Colin P Kelly Jr St, San Francisco, CA 94107, États-Unis</p>

<h2 class="mtop">Crédits:</h2>
<p>Sources : Associations, Médias spécialisés et Presse Nationale</p>
<p>Visuels : IconFinder (Non-commercial use)</p>
<p>Contributeurs : <a href="https://github.com/Geolim4/In-Memoriam/graphs/contributors" target="_blank">Liste des contributeurs (Github)</a></p>

<h2 class="mtop">Licence:</h2>

<p>Sauf mention contraire, l'ensemble du site, son code source et ses données sont sous <a href="javascript:;"
data-controller="advanced-modal"
data-modal-title="Licence GPL-2.0"
data-modal-content-template="pages/licence-gpl-2.0"
data-modal-options='{}'
data-modal-content-vars='{}'>licence GPL-2.0</a>.</p>

<hr />
<div class="mtop">
    <p class="text-center">
        <small data-tippy-content="Version actuelle de l'application :)">
            <em>Application In-Memoriam version </em>
            <code><em>{{ config.appVersion }}</em></code>
        </small>
    </p>
</div>
