<h3>Editeur:</h3>

<p><em>« L'équipe In-Memoriam »</em></p>

<p>Directeur du projet: <a href="https://github.com/Geolim4" target="_blank">@Geolim4</a> (Github)</p>

<p>Contributeurs du projet: <a href="https://github.com/Geolim4/In-Memoriam/graphs/contributors" target="_blank">Contributeurs</a> (Github)</p>


<h3 class="mt-3">Hébergement:</h3>

<p><a href="https://pages.github.com/" target="_blank">Github Pages</a></p>
<p>Github, 88 Colin P Kelly Jr St, San Francisco, CA 94107, États-Unis</p>

<h3 class="mt-3">Crédits:</h3>
<p>Sources : Associations, Médias spécialisés et Presse Nationale</p>
<p>Visuels : IconFinder (Non-commercial use)</p>
<p>Contributeurs : <a href="https://github.com/Geolim4/In-Memoriam/graphs/contributors" target="_blank">Liste des contributeurs (Github)</a></p>

<h3 class="mt-3">Licence:</h3>

<p>Sauf mention contraire, l'ensemble du site, <br />
    son code source et ses données sont sous <a href="javascript:;" data-controller="advanced-modal" data-modal-title="Licence GPL-2.0" data-modal-content-template="pages/licence-gpl-2.0" data-modal-options='{}' data-modal-content-vars='{}'>licence GPL-2.0</a>.</p>

<hr />
<div class="mt-3">
    <p class="text-center">
        <small data-tippy-content="Version actuelle de l'application :)">
            <em>Application In-Memoriam version </em>
            <code><em>{{ config.appVersion }}</em></code>
        </small>
    </p>
</div>
