<small class="advanced-search-enabled">
    <a href="javascript:;"
       data-controller="advanced-modal"
       data-modal-title="Aide à la recherche avancée"
       data-modal-content-template="content/advanced-search"
       data-modal-content-vars=""
       data-modal-options='{{ {isLarge: true, cancelLabel: "Désactiver la recherche avancée", cancelCallback: "disableAdvancedSearch", requiresExplicitCancel: true, cancelButtonColor: 'warning'}|json_encode|url_encode }}'>
        <span class="text-warning"><i class="fa-solid fa-circle-exclamation"></i> Recherche avancée activée</span>
    </a>
    <a href="javascript:;"
       data-controller="proxy-call"
       data-proxy-method="disableAdvancedSearch"
       data-tippy-content="Désactiver la recherche avancée">
        <i class="fa-solid fa-xmark" style="color: #720000"></i>
    </a>
</small>
