<small class="advanced-search-enabled">
    <a href="javascript:;"
       data-controller="advanced-modal"
       data-modal-title="Aide à la recherche avancée"
       data-modal-content-template="advanced-search"
       data-modal-content-vars=""
       data-modal-options='{{ {isLarge: true}|json_encode|url_encode }}'>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span>Recherche avancée activée</span>
    </a>
</small>
