<div class="alert alert-warning vss" role="alert">
    <span class="text text-warning">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;
            <strong>Vous semblez naviguer sur mobile. L'affichage des statistiques pourrait ne pas être optimal.</strong>
    </span>
</div>
<div class="row mtop">
    <div id="chart-container-pie-criteria-cause" class="col-md-6"></div>
    <div id="chart-container-pie-criteria-house" class="col-md-6"></div>
</div>
<div class="row"></div>
<div id="chart-container-bar-criteria-cause" class="row mtop"></div>
<div id="chart-container-bar-criteria-house" class="row mtop"></div>
<div id="chart-container-bar-county-house" class="row mtop"></div>
<div id="chart-container-bar-county-cause" class="row mtop"></div>
<div class="col-md-12"><em><a href="https://www.highcharts.com" target="_blank"><small>Highcharts.com</small></a></em></div>
