<div id="chart-container-pie-criteria-cause" class="col-md-6"></div>
<div id="chart-container-pie-criteria-house" class="col-md-6"></div>
<div class="col-md-12"><p><br /></p></div>
<div id="chart-container-bar-criteria-cause" class="col-md-12"></div>
<div id="chart-container-bar-criteria-house" class="col-md-12"></div>
<div id="chart-container-bar-county-house" class="col-md-12"></div>
<div id="chart-container-bar-county-cause" class="col-md-12"></div>
<div class="col-md-12"><em><a href="https://www.highcharts.com" target="_blank"><small>Highcharts.com</small></a></em></div>
