{% if definitions|length %}
    <div class="shadowed inline-block">
        {% for definition in definitions %}
            {{ definition }}{% if not loop.last %}<br />{% endif %}
        {% endfor %}
    </div>
{% endif %}
