@charset "UTF-8";
@import './variables';

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-inversed: #{$less-white};
    --background-color: #{$medium-grey};
    --background-color-higher: #{$dark-grey};
    --text-color: #{$white};
    --text-color-ligher: #{$less-white};
    --text-color-inversed: #{$dark-grey};
    --border-color: #{$light-grey};
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color-inversed: #{$medium-grey};
    --background-color: #{$less-white};
    --background-color-higher: #{$light-grey};
    --text-color: #{$dark-grey};
    --text-color-ligher: #{$medium-grey};
    --text-color-inversed: #{$less-white};
    --border-color: #{$dark-grey};
  }
}

html.prefers-color-scheme-dark {
  &:root {
    --background-color-inversed: #{$less-white};
    --background-color: #{$medium-grey};
    --background-color-higher: #{$dark-grey};
    --text-color: #{$white};
    --text-color-ligher: #{$less-white};
    --text-color-inversed: #{$dark-grey};
    --border-color: #{$light-grey};
  }
}

html.prefers-color-scheme-light {
  &:root {
    --background-color-inversed: #{$medium-grey};
    --background-color: #{$less-white};
    --background-color-higher: #{$light-grey};
    --text-color: #{$dark-grey};
    --text-color-ligher: #{$medium-grey};
    --text-color-inversed: #{$less-white};
    --border-color: #{$dark-grey};
  }
}

body,
header,
footer,
div,
form input,
form select {
  transition: background-color 0.6s linear, color 0.6s ease-out;
}

body {

  background-color: var(--background-color);
  color: var(--text-color);

  form {
    .choices[role$="box"] > .choices__inner,
    .choices[role$="box"] .choices__input,
    input.form-control,
    select.form-control,
    .form-control[disabled],
    .form-control[readonly] {
      color: var(--text-color);
      background-color: var(--background-color-higher);
      &[disabled] {
        text-decoration: line-through;
        opacity: 0.6;
      }
      &::placeholder {
        color: var(--text-color-ligher);
      }
    }
    .choices__list--dropdown {
      > .choices__list {
        color: $black;
        font-weight: normal;
      }
      z-index: 10;
    }

    .choices[data-type*="select-one"] {
      &:after {
        border-top-color: var(--border-color);
      }
      &.is-open:after {
        border-bottom-color: var(--border-color);
      }
    }
  }
  a {
    color: $blue;
    &:focus,
    &:hover {
      color: #1d9bf0;
    }
  }
  h1 a,
  h1 a:hover,
  h1 a:focus {
    color: var(--text-color-ligher);
  }

  > header,
  > footer,
  code {
    background-color: var(--background-color-higher);
  }

  .text-primary,
  .text-info {
    color: var(--text-color);
  }

  .modal__container {
    background-color: var(--background-color);
  }

  .modal__title,
  .modal__content {
    color: var(--text-color);
  }

  .modal__btn {
    &:not(.modal__btn-primary) {
      background-color: var(--background-color-inversed);
      color: var(--text-color-inversed);
    }

    &.modal__btn-danger {
      background-color: #9e0000;
      color: $white;
    }

    &.modal__btn-warning {
      background-color: #ca5702;
      color: $white;
    }
  }

  .tippy-tooltip {
    background-color: $black;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.5);
  }

  .text-warning {
    color: $orange;
  }

  .modal.modal__error {
    .modal__title,
    .modal__content {
      color: $error;
    }
  }
  #map {
    .gm-style {
      .poi-info-window {
        div,
        a {
          background-color: var(--background-color);
          color: $blue;
        }
        div {
          color: $white;
        }
        color: var(--text-color);
        background-color: $medium-grey;
      }
      .gm-style-iw-c {
        background: transparent;
      }
      .gm-style-iw-tc {
        filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.4));
        &:after {
          background: linear-gradient(45deg, var(--background-color) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%) var(--background-color);
        }
        &.gm-style-iw-red:after {
          background: rgba(255, 0, 0, 0.7);
          top: -2px;
          box-shadow: inset #600 0 0 3px 1px;
        }
      }
    }
  }

  .autocomplete {
    & > div.selected,
    & > div:hover:not(.group) {
      background: $blue;
    }

    background: var(--background-color);
    color: var(--text-color);
  }
}
