/**
 * "Responsive"
 */
@media (max-height: 800px), (max-width: 1000px) {
  #map {
    #form-filters {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .mss {
    display: block;
  }
  #form-filters.user-hidden {
    display: none;
  }
  #fork-me {
    display: none;
  }
  #map {
    height: 30em;
  }
  .need-help {
    strong {
      font-size: 11px;
    }
  }
  body:not(.loaded) {
    .shimmer-loader {
      &.w25,
      &.w50,
      &.w75 {
        width: 100%;
      }
    }
  }

  .modal__container {
    &.large {
      width: 100%;
      padding: 10px;
      button.modal__close {
        font-size: 1.6em;
        padding-right: 20px;
      }
    }
  }
}

@media (max-width: 1500px) {
  .need-help {
    position: relative;
    margin: auto;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .mss {
    display: none;
  }
  .modal__container {
    max-width: 1150px;
    &.large {
      max-width: 1600px;
      min-width: 90%;
    }
  }
}

@media (max-width: 499px) {
  .vss {
    display: block;
  }
}

@media (min-width: 500px) {
  .vss {
    display: none;
  }
}
