@import './variables';
@import './color';
@import "./vendor-color";
@import "./boostrap-custom";
@import './keyframes';

body {
  font-family: Roboto, system-ui;
  font-weight: 300;
  font-size: 0.95em;

  b,
  strong {
    font-weight: bold;
  }

  .autocomplete {
    > div {
      padding: 4px 6px;
    }
    font-family: Roboto, system-ui;
  }

  blockquote {
    border-left: 5px solid gray;
  }

  pre {
    overflow: unset;
  }
}

body:not(.loaded) {
  .shimmer-loader {
    position: relative;
    &.h50 {
      height: 50px;
    }
    &.h100 {
      height: 100px;
    }
    &.h150 {
      height: 150px;
    }
    &.h300 {
      height: 300px;
    }
    &.h500 {
      height: 500px;
    }
    &.w25 {
      width: 25%;
    }
    &.w50 {
      width: 50%;
    }
    &.w75 {
      width: 75%;
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: var(--background-color-higher) linear-gradient(90deg, var(--background-color-higher) 20%, rgba(255, 255, 255, 0.3) 50%, var(--background-color-higher) 80%);
      background-size: 800px 104px;
    }
  }
  .loader.is-active {
    display: none;
  }

  .hide-until-loaded {
    display: none;
  }
}

#fork-me {
  position: absolute;
  top: 0;
  right: 0;
}

#map {
  width: 100%;
  height: 50em;

  #form-filters {
    background: var(--background-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px 1px #808080;
    position: fixed;
    width: calc(100% - 150px);
    padding: 5px 5px 10px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px auto;
  }
  .poi-info-window.gm-style {
    padding: 8px;
  }
}

.inline-block {
  display: inline-block;
}

.shadowed {
  border: 1px solid rgba(26, 26, 26, 0.4);
  width: auto;
  padding: 10px;
  box-shadow: 2px 2px 10px 2px rgba(26, 26, 26, 0.5);
}

header.top-menu {
  padding: 15px 0;
  margin-bottom: 20px;
  .header-text {
    text-align: center;
    h1 {
      margin: 0;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}

.gm-style {
  .gm-style-iw.gm-style-iw-c {
    padding: 0 !important;
  }

  .gm-style-iw-d {
    overflow: auto !important;
  }
}

.death-container,
.info-window-container {
  background-color: var(--background-color);

  &.info-window-container {
    padding: 8px 8px 8px 12px;
  }
  .death-sources {
    .glyphicon {
      color: var(--text-color-ligher);
    }

    a {
      &[href^="https://twitter.com"] {
        &:after {
          content: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.0%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FTR%2F2001%2FREC-SVG-20010904%2FDTD%2Fsvg10.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22body_1%22%20width%3D%2216%22%20height%3D%2213%22%3E%0A%0A%3Cg%20transform%3D%22matrix%280.05323788%200%200%200.05323788%200.0143159665%20-0%29%22%3E%0A%09%3Cg%20transform%3D%22matrix%281%200%200%201%20-539.17944%20-568.8578%29%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M633.89825%20812.0448C%20746.35864%20812.0448%20807.8545%20718.87714%20807.8545%20638.08856C%20807.8545%20635.44226%20807.8006%20632.8079%20807.6819%20630.1855C%20819.6199%20621.5553%20829.99634%20610.7855%20838.1795%20598.52563C%20827.2249%20603.395%20815.4359%20606.67303%20803.0688%20608.1511C%20815.6922%20600.58185%20825.38324%20588.6081%20829.9546%20574.33374C%20818.1417%20581.3368%20805.05945%20586.4267%20791.13074%20589.1743C%20779.9735%20577.29%20764.08997%20569.8578%20746.50183%20569.8578C%20712.7381%20569.8578%20685.35754%20597.2383%20685.35754%20630.9901C%20685.35754%20635.78796%20685.8939%20640.4547%20686.94293%20644.93066C%20636.12744%20642.3738%20591.0694%20618.04486%20560.9175%20581.0508C%20555.6667%20590.08624%20552.639%20600.5819%20552.639%20611.7808C%20552.639%20632.9927%20563.4326%20651.7192%20579.8466%20662.67377C%20569.81586%20662.36383%20560.393%20659.6103%20552.1562%20655.027C%20552.1472%20655.2835%20552.1472%20655.53357%20552.1472%20655.80774C%20552.1472%20685.4173%20573.222%20710.13965%20601.1985%20715.74207C%20596.0609%20717.1427%20590.65515%20717.8936%20585.07654%20717.8936C%20581.1429%20717.8936%20577.3106%20717.5065%20573.5856%20716.791C%20581.3694%20741.0842%20603.9401%20758.7617%20630.7008%20759.2565C%20609.775%20775.65857%20583.4137%20785.42706%20554.7637%20785.42706C%20549.8347%20785.42706%20544.96533%20785.1467%20540.1794%20784.58075C%20567.23804%20801.92456%20599.3688%20812.04474%20633.9013%20812.04474%22%20stroke%3D%22none%22%20fill%3D%22%231DA1F2%22%20fill-rule%3D%22nonzero%22%20%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E");
          padding-left: 2px;
          top: 2px;
          position: relative;
          height: 16px;
          width: 16px;
          display: inline-block;
        }
        color: #1d9bf0;
        font-weight: bold;
      }
      &[href*=".gouv.fr/"] {
        &:after {
          content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAH3SURBVDhPfVNLSxtRFP7GWLSgdhbSCqa6Ki3duHRbwUQFRdzGZbZdirhoOtJuiiDS4sIH+AMKWhE04EIQqXYhFkSESqqmJQWDwUiMacIkp+eeuTNNNOSDk5zndx7cMYCPhAqUWG4RjY6iv78TRBw2DNiJP7j5NI/rqXcw0MJSJ9l3CJSa46IJx1LFLpiEk1H4cYLEi+fwwRS3Q+Mhg62tUdEqihW0fft5Fb76Vm5VFLuMwMbgYBd6ep7eL9ZQfjMyDt/jVrbuERQRCHRovTYe9r7iCQqilxH4sLkZ13p1GHyHr4eHyHa08z28CdTV/7LYWF+PibMWrpJJ+AeCXK7XnJk5oOXlE4pE9sg051iP8apEpVKpqrhIDofoDA2Evr4v5Pcv0dHRJdl2kWKxK0moVizCsWI+T6d803M8InVZgfMe3murCoHyOSHKbe8IQRwm1Q0NrfFx3iIcfslkb3B8nMLFRVYO5sF9RPsHYua/7bPtxT/Q2NgOxeNp2t1NUDC4Qpa1J53c7gq/nzyjn9xVyRkM6a7ECIWilE4XsLHxnclymJwcgWV1/39M3J1usjhtbsKDsm+gDNOcaVEgsEKpVE66VeyuJ7gMv5a9neO1eBOgrW2RMpm8JCncLXbFxfXsgiZpclZQTjWH/qsNfUyV+cto5N8G/AMoaaY8qYkt5QAAAABJRU5ErkJggg==");
          padding-left: 2px;
          top: 2px;
          position: relative;
          height: 16px;
          width: 16px;
          display: inline-block;
        }
        color: #1d9bf0;
        font-weight: bold;
      }
      &[href^="https://actu17.fr"] {
        color: #0c0f2a;
        font-weight: bold;
      }
      &[href^="https://www.instagram.com"] {
        &:after {
          content: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20viewBox%3D%220%200%2064%2064%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Aurl%28%23radial-gradient%29%3B%7D.cls-2%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3CradialGradient%20cx%3D%22-578.95%22%20cy%3D%22-837.6%22%20gradientTransform%3D%22translate%28499.5%20629.5%29%20scale%280.75%29%22%20gradientUnits%3D%22userSpaceOnUse%22%20id%3D%22radial-gradient%22%20r%3D%22197.06%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23f9ed32%22%2F%3E%3Cstop%20offset%3D%220.36%22%20stop-color%3D%22%23ee2a7b%22%2F%3E%3Cstop%20offset%3D%220.44%22%20stop-color%3D%22%23d22a8a%22%2F%3E%3Cstop%20offset%3D%220.6%22%20stop-color%3D%22%238b2ab2%22%2F%3E%3Cstop%20offset%3D%220.83%22%20stop-color%3D%22%231b2af0%22%2F%3E%3Cstop%20offset%3D%220.88%22%20stop-color%3D%22%23002aff%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3Ctitle%2F%3E%3Cg%20data-name%3D%223-instagram%22%20id%3D%22_3-instagram%22%3E%3Crect%20class%3D%22cls-1%22%20height%3D%2264%22%20rx%3D%2211.2%22%20ry%3D%2211.2%22%20transform%3D%22translate%2864%2064%29%20rotate%28180%29%22%20width%3D%2264%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M44%2C56H20A12%2C12%2C0%2C0%2C1%2C8%2C44V20A12%2C12%2C0%2C0%2C1%2C20%2C8H44A12%2C12%2C0%2C0%2C1%2C56%2C20V44A12%2C12%2C0%2C0%2C1%2C44%2C56ZM20%2C12.8A7.21%2C7.21%2C0%2C0%2C0%2C12.8%2C20V44A7.21%2C7.21%2C0%2C0%2C0%2C20%2C51.2H44A7.21%2C7.21%2C0%2C0%2C0%2C51.2%2C44V20A7.21%2C7.21%2C0%2C0%2C0%2C44%2C12.8Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M32%2C45.6A13.6%2C13.6%2C0%2C1%2C1%2C45.6%2C32%2C13.61%2C13.61%2C0%2C0%2C1%2C32%2C45.6Zm0-22.4A8.8%2C8.8%2C0%2C1%2C0%2C40.8%2C32%2C8.81%2C8.81%2C0%2C0%2C0%2C32%2C23.2Z%22%2F%3E%3Ccircle%20class%3D%22cls-2%22%20cx%3D%2245.6%22%20cy%3D%2219.2%22%20r%3D%222.4%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
          top: 2px;
          position: relative;
          height: 16px;
          width: 16px;
          display: inline-block;
          left: 3px;
        }
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      font-weight: 500;
    }
  }
}

.report-error {
  position: absolute;
  bottom: 6px;
  right: 10px;
  font-size: 1.2em;
}

.multiple-deaths {
  box-shadow: inset rgba(255, 0, 0, 0.7) 0 0 3px 1px;
  background: #600;
  color: $less-white;

  .report-error {
    background: rgba(255, 0, 0, 0.1);
  }
}

.alert {
  margin-bottom: 0;
}

abbr[title],
abbr[data-tippy-content],
abbr[data-title] {
  cursor: help;
  border-bottom: 2px dotted #01a2d2;
  text-decoration: none;
  line-height: 18px;
}

.text-danger {
  abbr[title],
  abbr[data-tippy-content],
  abbr[data-title] {
    border-bottom: 2px dotted #dc3545;
  }
}

a abbr[title],
a abbr[data-tippy-content],
a abbr[data-title] {
  cursor: pointer;
}

.modal {
  display: none;
  .modal__title {
    margin-right: 20px;
    font-size: 1.5em;
  }
}

.modal.is-open {
  display: block;
}

.need-help {
  .red-border {
    display: inline-block;
    border: 1px solid #d9534f;
    padding: 1px 2px 2px 3px;
  }
  position: absolute;
  left: 0;
  top: 6px;
  margin: 5px 10px;
  .label {
    display: inline-block;
    vertical-align: middle;
  }
  strong {
    margin-left: 5px;
    vertical-align: middle;
  }
}

.ts-wrapper {
  &.multi {
    .ts-control {
      & > div {
        border-radius: 20px;
        padding: 4px 8px;
        font-weight: bolder;
      }
    }
  }
  .ts-control {
    min-height: 45px;
    & > input {
      min-width: 1rem;
    }
  }
}

#form-filters {
  #search {
    height: 45px;
  }
  small.advanced-search-enabled {
    span {
      color: orange;
      line-height: 0.8;
    }
    a span:not(.glyphicon) {
      border-bottom: 1px dotted orange;
    }
    float: left;
    margin-top: 6px;
  }

  button[data-reset-field-target] {
    background: transparent;
    border: none;
    color: var(--text-color);
    box-shadow: none;
    display: none;
    position: absolute;
    right: 25px;
    top: 40px;
    width: auto;
  }
  input:not(:placeholder-shown) + button[data-reset-field-target] {
    display: block;
  }
}

form {
  input.form-control {
    &::placeholder {
      font-size: 0.85em;
      font-weight: 300;/* This is only to remove blink effect on page load */
    }
  }
}

.modal__footer {
  margin-bottom: 0;
}

#modal-info .highcharts-credits {
  display: none;
}

body.fullscreen {
  .hide-fs {
    display: none !important;
  }
}

/**
 * Fix blurriness of fonts with Chrome
 */
.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: unset;
}

.loader.is-active {
  background-color: rgba(0, 0, 0, 0.5);
}

.loader.is-active.inside {
  &:after {
    position: absolute;
  }
  z-index: 1;
  position: absolute;
}

.loader-container {
  position: relative;
}

.snackbar-container {
  box-shadow: rgba(20, 20, 20, 0.7) 0 0 5px 1px;
}
